#nav-bar {
    width: 100%;
}

#banner>h1 {
    padding-bottom: 1rem;
}


#options>li {
    list-style-type: none;
}

#options>li>a,
.back,
.anchor-item {
    transition: color 0.2s;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#options>li:hover>a,
.back:hover {
    color: #fa4807;
}

.img-top,
.img-bot,
.panel-title>h1 {
    cursor: pointer;
}

.img-top {
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
}

.img-top:hover {
    opacity: 0;
}

#main {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    background-color: #edeff1;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
}

@media only screen and (max-width: 770px) {
    #main {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        height: 91%;
        justify-content: center;
        margin-left: 20%;
        margin-right: 20%;
    }
}

#banner>h1 {
    width: 100%;
    background: #D4D6D8;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.anchor-item {
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    cursor: pointer !important;
    align-items: revert !important;
}

.anchor-item:hover {
    color: #fa4807;
}

#settings {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}