#nav-bar {
    width: 100%;
}

#banner>h1 {
    padding-bottom: 1rem;
    border-bottom: 3px solid black;
}


#options>li {
    list-style-type: none;
}

#options>li>a,
.back {
    transition: color 0.2s;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#options>li:hover>a,
.back:hover,
#link:hover {
    color: #fa4807;
}

.img-top {
    transition: opacity 0.3s;
    opacity: 1;
}

.img-bot {
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
    opacity: 0;
    /* left: 0; */
}

#img-cover {
        height: 100%;
        width: 100%;
        object-fit: contain;
        display: block;
}

#img-wrap:hover > .img-top {
    opacity: 0 !important;
}

#img-wrap:hover .img-bot {
    opacity: 1 !important;
}
/* 
#main {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-color: #edeff1;
    justify-content: center;
    margin-right: 7%;
    margin-left: 7%;
    margin-bottom: 10%;
} */

@media only screen and (max-width: 770px) {
    #main {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        height: 91%;
        justify-content: center;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media only screen and (max-height:728px) {
    #left {
        display: none;
    }
}

#banner>h1 {
    width: 100%;
    background: #D4D6D8;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#back-span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.4rem;
    align-items: center;
    position: relative;
}

#banner-input {
    background: #D4D6D8;
    display: flex;
    padding: 1rem 0;
    width: 100%;
    justify-content: center;
    align-items: baseline;
    border-bottom: 3px solid black;
}

#banner-input form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex-wrap: nowrap;
}

form .input {
    display: flex;
    margin-bottom: 0.5rem;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

input[type='text'] {
    width: 100%;
}

#link {
    cursor: pointer;
    margin-bottom: 0.5rem;
    transition: color 0.2s;
    z-index: 2;
}

#popup {
    position: absolute;
    z-index: 1;
    top: -6px;
    background-color: #babcbe;
    padding: 5px;
    border: 3px solid #fa4807;
    border-radius: 5px;
    opacity: 0;
}

@keyframes popUp {
    0% {
        z-index: 3;
        opacity: 0;
        top: -20px;
    }
    25% {
        z-index: 3;
        top: -32px;
        opacity: 1;
    }

    50% {
        z-index: 3;
        top: -44px;
        opacity: 1;
    }

    80% {
        z-index: 3;
        top: -44px;
        opacity: 1;
    }

    100% {
        z-index: 3;
        top: -44px;
        opacity: 0;
    }
}

#panel-left {
    width: 300px;
    height: 300px;
    
}