* {
    box-sizing: border-box;
}

.img-magnifier-glass-wrap {
    position: relative;
}

.img-magnifier-glass-wrap:first-child {
    margin-bottom: 1rem;
}

#img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 25%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 200px;
    height: 200px;
}

#nav-bar {
    width: 100%;
}


#options>li {
    list-style-type: none;
    text-align: center;
}

#options>li>a,
#banner-bottom>a,
#back>a {
    transition: color 0.2s;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#options>li:hover>a,
#banner-bottom>a:hover,
#back>a:hover {
    color: #fa4807;
}

.img-bot {
    cursor: pointer;
}

.img-top {
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
}

.img-top:hover {
    opacity: 0;
}

#main {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    align-content: center;
    background-color: #edeff1;
    margin-bottom: 10%;
    flex-wrap: wrap;
    justify-content: center;
}

#side {
    margin-left: 2rem;
}

@media only screen and (max-width: 890px) {
    #main {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: center;
    }

    #side {
        margin-left: 0;
    }
}

#banner-bottom,
#back {
    display: flex;
    width: 100%;
    justify-content: center;
}

#banner-bottom {
    background: #D4D6D8;
    border-bottom: 3px solid black;
}

#back {
    margin-bottom: 1rem;
    display: none;
}

#banner-bottom>a {
    width: auto;
    background: #D4D6D8;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
}


#brightness,
#contrast {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    align-content: center;
    margin-bottom: 1rem;
}

input[type="range"] {
    width: 100%;
}

.input {
    display: flex;
    flex-direction: row;
}

.input input {
    margin-right: auto;
}

#opis {
    display: inline-block;
    /* line-height: 200%; */
}

.input-textarea {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.input input:not([type="file"]) {
    display: inline-block;
    width: 100%;
}

.input label {
    margin-right: 5px;
    cursor: pointer;
}

.input textarea {
    margin: 0;
    outline: 0;
    padding: 0;
    width: 100%;
    resize: vertical;
    font-size: medium;
}

#delete {
    background-color: #ff7373;
    cursor: pointer;
}

#confirm {
    background-color: #a0ffa0;
    cursor: pointer;
}

.magnify-value {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}

#lupa {
    display: flex;
    flex-direction: column;
}

#lupa>span {
    margin-bottom: 0.7rem;
}

.panel-main {
    width: revert;
    height: revert;
}

img {
    max-height: 10rem;
}