@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

body, html {
    background-color:#edeff1;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

#wrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    background-color:#edeff1;
    height: 100%;
    width: 100%;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.7rem;
    height: 9%;
}

#main {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-color: #edeff1;
    justify-content: center;
}

.panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 10px;
    border-radius: 10px;
    height: 12rem;
    -webkit-box-shadow: 0px 8px 14px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 8px 14px -12px rgba(66, 68, 90, 1);
    box-shadow: 0px 8px 14px -12px rgba(66, 68, 90, 1);
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
}


.panel-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    
}

.panel-main {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    position: relative;    
    align-items: center;
}

img {
    height: 100%;
    display: block;
    cursor: pointer;
}


#options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #babcbe;
}

#options > :not(:last-child) {
    margin-right: 30px;
}

@media only screen and (max-width: 700px) {
    #main {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%; 
    }
    .panel {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 10px;
        border-radius: 10px;
        height: 12rem;
        width: revert;
        max-width: revert;
    }
    #options {
        flex-direction: column;
        align-items: center;
    }
    #options > :not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

#nav-bar {
    width: 100%;
}

#banner > h1 {
    padding-bottom: 1rem;
}

#options > li {
    list-style-type: none;
    cursor: pointer;
}

#options > li > a {
    transition: color 0.2s;
    text-decoration: none;
    color: black;
}

#options > li:hover > a {
    color: #fa4807;
}


#settings {
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 75%;
}

#brightness_input, #contrast_input {
    width: 100%;
}

#brightness_input {
    margin-bottom: 1rem;
}

input[type=range]::-webkit-slider-runnable-track {

}